/* Lobby page CSS
-------------------------------------------------- */


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

main>.container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.server-status-text {
    color: white;
    font-weight: normal;
    margin-right: 10px;
}

.server-status {
    font-size: 1em;
}

.server-status.online {
    color: yellowgreen;
}

.server-status.offline {
    color: red;
}